
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.container{
    border: 1px solid black;
    height: 500px;
    margin-top: 120px;
    position: relative;
    width: 600px;

}


.rectangle1{
    height: 100px;
    width: 100px;
    background-color: #0000ff;
    position: absolute;
    z-index: 1;
    
  
}



.rectangle2{
    height: 100px;
    width: 100px;
    background-color: rgb(255, 0, 0);
    position: absolute;
    z-index: 2;
}

.rectangle3{
    height: 100px;
    width: 100px;
    background-color: rgb(28, 194, 22);
    position: absolute;
    z-index: 3;

}